{{ $sponsorId := . }}
{{ $sourceImage := resources.Get (printf "images/sponsors/%s.jpg" $sponsorId ) }}
{{ $imageSizes := slice "320" "640" "960" "1280" "1600" "1920" "2560" }}
<picture class="sponsor-banner">
    <source
        type="image/jpeg"
        srcset="
        {{- range $i, $imageSize := $imageSizes -}}
            {{- if ge $sourceImage.Width $imageSize -}}
                {{- $scaledImage := $sourceImage.Resize (printf "%sx jpg" $imageSize) -}} 
                {{- if $i }}, {{ end -}}{{- $scaledImage.RelPermalink }} {{ $scaledImage.Width }}w 
            {{- end -}}
        {{- end -}}
        "
        sizes="(min-width: 480px) 50vw, (min-width: 960px) 33vw, 100vw"/>
    <source type="image/webp"
        srcset="
        {{- range $i, $imageSize := $imageSizes -}}
            {{- if ge $sourceImage.Width $imageSize -}}
                {{- $scaledImage := $sourceImage.Resize (printf "%sx webp" $imageSize) -}} 
                {{- $scaledImage.RelPermalink }} {{ $scaledImage.Width }}w
            {{- end -}}
        {{- end -}}
        "
        sizes="(min-width: 480px) 50vw, (min-width: 960px) 33vw, 100vw"
    />
    <img src="{{ $sourceImage.RelPermalink }}" loading="lazy"/>
</picture>