.iwr-dropdown {
  &:hover ul.iwr-sub-menu {
    display: block;
  }

  ul.iwr-sub-menu {
    display: none;
    position: absolute;
    top: auto;
    min-width: 160px;
    max-width: 320px;
    padding: 10px;
    margin-left: -20px;
    background: rgba(0, 0, 0, 0.333);
  }

  ul.iwr-sub-menu li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 8px;
  }

  ul.iwr-sub-menu li a:hover,

  ul.iwr-sub-menu li a:focus {
    background: rgba(0, 0, 0, 0.7);
  }
}

nav img{
  max-width: 100px;
  max-height:100px;
}
div.sponsor-banner {
  width: 100%;
  margin: 20px auto;
  display: grid;
  max-width:1280px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (min-width:480px) {
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width:960px) {
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  align-items: center;
  justify-content: center;
  > picture.sponsor-banner {
    /*
    flex: 1 1 100%;
  
    @media (min-width: 480px) {
      width: 50%;
    }
  
    @media (min-width: 960px) {
      width: 33%;
    }*/

    flex: 0 1;
    align-self: center;
    >source,
    img {
      // test
    }
  }
}


div.table-box{
  >table{
    tr:nth-child(2n){
      background-color: red;
    }
  }
}